<main class="d-flex w-100 flex-grow-1 justify-content-center">
  <section class="d-flex flex-column align-items-center w-50">
    <h1 class="bg-secondary-subtle p-2 text-center text-secondary w-100">Sign In</h1>
    <form class="d-flex flex-column w-50 m-3">
      <input
        class="m-2 p-2 text-center"
        type="email"
        name="email"
        id="email"
        placeholder="EMAIL"
      />
      <input
        class="m-2 p-2 text-center"
        type="password"
        name="password"
        id="password"
        placeholder="PASSWORD"
      />
      <input
        class="m-2 p-2 text-center btn btn-primary"
        type="button"
        id="login"
        value="Confirm!"
      />
    </form>
  </section>
</main>