<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <section class="d-flex flex-column align-items-center w-75">
    <h1 class="bg-light p-2 text-center text-success w-100">📦 GESTIÓN DE
      PRODUCTOS</h1>
    <form class="d-flex flex-column w-50 m-3 product-form">
      <input
        class="m-2 p-2 text-center"
        type="text"
        name="title"
        id="title"
        placeholder="Nombre del producto"
      />
      <input
        class="m-2 p-2 text-center"
        type="number"
        name="price"
        id="price"
        placeholder="Precio"
      />
      <input
        class="m-2 p-2 text-center"
        type="number"
        name="stock"
        id="stock"
        placeholder="Stock"
      />
      <input
        class="m-2 p-2 text-center btn btn-success btn-add"
        type="button"
        id="addProduct"
        value="Agregar Producto"
      />
    </form>
  </section>

  <section class="d-flex flex-column align-items-center w-75 mt-4">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody id="products"></tbody>
    </table>
  </section>
</main>

<script
  src="https://cdn.socket.io/4.8.1/socket.io.min.js"
  integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
  crossorigin="anonymous"
></script>
<script src="./scripts/realTimeProducts.js"></script>